//fontsize
$fz-12:12px;
$fz-14:14px;
$fz-2:16px;
$fz-18:18px;
$fz-20:20px;
$fz-3:24px;
$fz-28:28px;
$fz-4:32px;
$fz-5:40px;
//fontstyle
//font style
$fontSF:'SF Pro Text',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Arial, sans-serif;
$fontPF:'PingFang TC',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Arial, sans-serif;
//color
$gray:#8D8D8D;
$white:#FFFFFF;
$gold:#AC8A46;
$black:#000000;
$brown:#916000;
//bgc
$bg-brown:#916000;
$bg-darkbrown:#6C4700;
$bg-lightgray:#E0E0E0;
$bg-black:#000000;
$bg-lightgray:#0000000D;
//font-weight
$fw-regular:normal;
$fw-bold:bold;
$fw-light:300;
$fw-medium:500;
$fw-semibold:700;
//line-height
$lh-2:1.2;
$lh-5:1.5;